.prueba{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 50px;
}

.card{
    border: 5px solid blue;
    width: 200px;
    height: 200px;
    color: black;
}
.card img{
    width: 100%;
    object-fit: cover;
}

.font-size{
    font-size: 10px;

}