.cards-details{
    background-color: rgb(6, 76, 156);
    border: 5px solid rgb(6, 76, 156);
    border-radius: 8px;
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 5%;
}

.cards-details img{
    width: 220px;
    height: 220px;
}

.cards-details-flex{
    display: flex;
    justify-content: center;
    
}

.loading{
    margin-top: 10%;
    font-size: 160%;
    font-weight: 700;
}

.font-title{
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 120%;
    font-weight: 600;
}

.buttonPlus{
    background-color: green;
    width: 12%;
}

.buttonMinus{
    background-color: red;
    width: 12%;
}

.buttonFavorite{
    margin-top: 3%;
    background-color: rgb(4, 4, 66);
    color: white;
    border: 0px;
}