.buttonPlus{
    background-color: green;
    width: 14%;
    font-size: 70%;
    font-weight: 500;
}

.buttonMinus{
    background-color: red;
    width: 14%;
    font-size: 70%;
    font-weight: 500;
}

.buttonFavorite{
    margin-top: 3%;
    background-color: rgb(4, 4, 66);
    color: white;
    border: 0px;
    font-size: 70%;
    font-weight: 500;
}

.buttonAdd{
    font-size: 70%;
    font-weight: 500;
}

.font-title{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 80%;
    font-weight: 600;
}